TAGS
local.mk
*.log
*.dat
gamess/*
tmp/*
build/*
obj/*
calc/*
fort.*
*.pyc
external/
lib/
*.o
*.mod
*.err
f90/utest
/uscr/
**/scr/
*.pdf
*.csv
example/*/out
example/*/*/out
example/*/*/*/out
**/fig
a.out
